In [76]:
import pandas as pd

In [77]:
# terror_data = pd.read_csv("data/cleaned/terror.csv", encoding = "ISO-8859-1")

In [78]:
#terror_data.columns.to_list()

## Identification variables pertinentes

In [79]:
variables_pertinentes = ['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound', 'region_txt', 'provstate',
                         'city', 'nkillus', 'nwoundus', 'region_txt', 'latitude', 'longitude',
                         'attacktype1_txt', 'alternative_txt', 'suicide', 'ransompaid', 'nhostkid', 'hostkidoutcome_txt'
                         , 'ransomnote', 'nhours', 'ndays', 'ransompaidus', 'nhostkidus', 'summary', 'motive', 'gname'
                         , 'natlty1_txt', 'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
                         , 'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt'
                         , 'claimmode_txt', 'propextent_txt', 'propextent', 'propvalue', 'dbsource'
                         ]

In [80]:
#new_data = terror_data[variables_pertinentes]

In [81]:
#new_data.to_csv("data/cleaned/terror.csv", index = False)

In [82]:
new_data = pd.read_csv("data/cleaned/terror.csv")
# new_data = pd.read_csv("data/cleaned/globalterrorismdb_0718dist.csv", encoding = "ISO-8859-1")

In [83]:
new_data.columns

Index(['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound',
       'region_txt', 'provstate', 'city', 'nkillus', 'nwoundus',
       'region_txt.1', 'latitude', 'longitude', 'attacktype1_txt',
       'alternative_txt', 'suicide', 'ransompaid', 'nhostkid',
       'hostkidoutcome_txt', 'ransomnote', 'nhours', 'ndays', 'ransompaidus',
       'nhostkidus', 'summary', 'motive', 'gname', 'natlty1_txt',
       'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt',
       'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt',
       'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt',
       'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt',
       'targtype3_txt', 'targsubtype3_txt', 'claimmode_txt', 'propextent_txt',
       'propextent', 'propvalue', 'dbsource'],
      dtype='object')

In [84]:
new_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iyear               181691 non-null  int64
 1   iday                181691 non-null  int64
 2   imonth              181691 non-null  int64
 3   nkill               181691 non-null  float64
 4   country_txt         181691 non-null  object
 5   nwound              181691 non-null  float64
 6   region_txt          181691 non-null  object
 7   provstate           181691 non-null  object
 8   city                181691 non-null  object
 9   nkillus             181691 non-null  float64
 10  nwoundus            181691 non-null  float64
 11  region_txt.1        181691 non-null  object
 12  latitude            181691 non-null  float64
 13  longitude           181691 non-null  float64
 14  attacktype1_txt     181691 non-null  object
 15  alternative_txt     181691 non-null  object
 16  suicide             181691 non-null  int64
 17  ransompaid          181691 non-null  float64
 18  nhostkid            181691 non-null  float64
 19  hostkidoutcome_txt  181691 non-null  object
 20  ransomnote          181691 non-null  object
 21  nhours              181691 non-null  float64
 22  ndays               181691 non-null  float64
 23  ransompaidus        181691 non-null  float64
 24  nhostkidus          181691 non-null  float64
 25  summary             181691 non-null  object
 26  motive              181691 non-null  object
 27  gname               181691 non-null  object
 28  natlty1_txt         181691 non-null  object
 29  kidhijcountry       181691 non-null  object
 30  weaptype1_txt       181691 non-null  object
 31  weapsubtype1_txt    181691 non-null  object
 32  weaptype2_txt       181691 non-null  object
 33  weapsubtype2_txt    181691 non-null  object
 34  weaptype3_txt       181691 non-null  object
 35  weapsubtype3_txt    181691 non-null  object
 36  weaptype4_txt       181691 non-null  object
 37  weapsubtype4_txt    181691 non-null  object
 38  targtype1_txt       181691 non-null  object
 39  targsubtype1_txt    181691 non-null  object
 40  targtype2_txt       181691 non-null  object
 41  targsubtype2_txt    181691 non-null  object
 42  targtype3_txt       181691 non-null  object
 43  targsubtype3_txt    181691 non-null  object
 44  claimmode_txt       181691 non-null  object
 45  propextent_txt      181691 non-null  object
 46  propextent          181691 non-null  float64
 47  propvalue           181691 non-null  float64
 48  dbsource            181691 non-null  object
dtypes: float64(14), int64(4), object(31)
memory usage: 67.9+ MB

## Traitement des valeurs manquantes

In [85]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
summary               0.0
gname                 0.0
natlty1_txt           0.0
kidhijcountry         0.0
weaptype1_txt         0.0
weapsubtype1_txt      0.0
weaptype2_txt         0.0
weapsubtype2_txt      0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
weapsubtype4_txt      0.0
targtype1_txt         0.0
targsubtype1_txt      0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
claimmode_txt         0.0
propextent_txt        0.0
propextent            0.0
propvalue             0.0
motive                0.0
nhostkidus            0.0
iday                  0.0
ransompaidus          0.0
imonth                0.0
nkill                 0.0
country_txt           0.0
nwound                0.0
region_txt            0.0
provstate             0.0
city                  0.0
nkillus               0.0
nwoundus              0.0
region_txt.1          0.0
latitude              0.0
longitude             0.0
attacktype1_txt       0.0
alternative_txt       0.0
suicide               0.0
ransompaid            0.0
nhostkid              0.0
hostkidoutcome_txt    0.0
ransomnote            0.0
nhours                0.0
ndays                 0.0
dbsource              0.0
dtype: float64

_Rempla√ßons les NAN des variables quantitatives par 0._

_On ne va prendre en compte que les variables renfermant des NAN_

In [86]:
# cols=['nkill','nwound','nkillus','nwoundus','latitude','longitude','ransompaid','nhostkid','nhours','ndays','ransompaidus','nhostkidus','propex',')
cols=['nkill','nwound','nkillus','nwoundus','latitude','longitude','ransompaid','nhostkid','nhours','ndays','ransompaidus','nhostkidus','propextent','propvalue']

In [87]:
# qual=['country_txt','region_txt','provstate','city','region_txt','attacktype1_txt','alternative_txt','hostkidoutcome_txt','ransomnote','summary','motive', 'gname'
#                          , 'natlty1_txt','kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
#                          , 'weaptype4_txt', 'weapsubtype4_txt','targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt','claimmode_txt', 'propextent_txt','dbsource']
qual = new_data.select_dtypes('object').columns
new_data = new_data[qual].fillna(' ')

In [88]:
# new_data = new_data[variables_pertinentes].fillna('')

In [89]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

country_txt           0.0
weaptype2_txt         0.0
propextent_txt        0.0
claimmode_txt         0.0
targsubtype3_txt      0.0
targtype3_txt         0.0
targsubtype2_txt      0.0
targtype2_txt         0.0
targsubtype1_txt      0.0
targtype1_txt         0.0
weapsubtype4_txt      0.0
weaptype4_txt         0.0
weapsubtype3_txt      0.0
weaptype3_txt         0.0
weapsubtype2_txt      0.0
weapsubtype1_txt      0.0
region_txt            0.0
weaptype1_txt         0.0
kidhijcountry         0.0
natlty1_txt           0.0
gname                 0.0
motive                0.0
summary               0.0
ransomnote            0.0
hostkidoutcome_txt    0.0
alternative_txt       0.0
attacktype1_txt       0.0
region_txt.1          0.0
city                  0.0
provstate             0.0
dbsource              0.0
dtype: float64

In [90]:
new_data

,country_txt,region_txt,provstate,city,region_txt.1,attacktype1_txt,alternative_txt,hostkidoutcome_txt,ransomnote,summary,...,weapsubtype4_txt,targtype1_txt,targsubtype1_txt,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,dbsource
0,Dominican Republic,Central America & Caribbean,,Santo Domingo,Central America & Caribbean,Assassination,,,,,...,,Private Citizens & Property,Named Civilian,,,,,,,PGIS
1,Mexico,North America,Federal,Mexico city,North America,Hostage Taking (Kidnapping),,,,,...,,Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons...",,,,,,,PGIS
2,Philippines,Southeast Asia,Tarlac,Unknown,Southeast Asia,Assassination,,,,,...,,Journalists & Media,Radio Journalist/Staff/Facility,,,,,,,PGIS
3,Greece,Western Europe,Attica,Athens,Western Europe,Bombing/Explosion,,,,,...,,Government (Diplomatic),Embassy/Consulate,,,,,,,PGIS
4,Japan,East Asia,Fukouka,Fukouka,East Asia,Facility/Infrastructure Attack,,,,,...,,Government (Diplomatic),Embassy/Consulate,,,,,,,PGIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,Sub-Saharan Africa,Armed Assault,Insurgency/Guerilla Action,,,12/31/2017: Assailants opened fire on a Somali...,...,,Military,Military Checkpoint,,,,,Unknown,,START Primary Collection
181687,Syria,Middle East & North Africa,Lattakia,Jableh,Middle East & North Africa,Bombing/Explosion,Insurgency/Guerilla Action,,,12/31/2017: Assailants launched mortars at the...,...,,Military,Military Barracks/Base/Headquarters/Checkpost,,,,,,Unknown,START Primary Collection
181688,Philippines,Southeast Asia,Maguindanao,Kubentog,Southeast Asia,Facility/Infrastructure Attack,,,,12/31/2017: Assailants set fire to houses in K...,...,,Private Citizens & Property,House/Apartment/Residence,,,,,,Unknown,START Primary Collection
181689,India,South Asia,Manipur,Imphal,South Asia,Bombing/Explosion,,,,12/31/2017: Assailants threw a grenade at a Fo...,...,,Government (General),Government Building/Facility/Office,,,,,,,START Primary Collection
181690,Philippines,Southeast Asia,Maguindanao,Cotabato City,Southeast Asia,Bombing/Explosion,,,,12/31/2017: An explosive device was discovered...,...,,Unknown,,,,,,,,START Primary Collection

In [91]:
new_data.to_csv("data/cleaned/terror2.csv", index = False)

In [92]:
df = pd.read_csv("data/cleaned/terror2.csv")

In [93]:
df[df == " "]

,country_txt,region_txt,provstate,city,region_txt.1,attacktype1_txt,alternative_txt,hostkidoutcome_txt,ransomnote,summary,...,weapsubtype4_txt,targtype1_txt,targsubtype1_txt,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,dbsource
0,NaN,NaN,,NaN,NaN,NaN,,,,,...,,NaN,NaN,,,,,,,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,,,,,...,,NaN,NaN,,,,,,,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,,,,,...,,NaN,NaN,,,,,,,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,,,,,...,,NaN,NaN,,,,,,,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,,,,,...,,NaN,NaN,,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,NaN,...,,NaN,NaN,,,,,NaN,,NaN
181687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,NaN,...,,NaN,NaN,,,,,,NaN,NaN
181688,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,NaN,NaN,,,,,,NaN,NaN
181689,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,NaN,NaN,,,,,,,NaN
181690,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,NaN,,,,,,,,NaN