In [1]:
import pandas as pd

In [2]:
#terror_data = pd.read_csv("data/cleaned/terror.csv", encoding = "ISO-8859-1")

In [3]:
#terror_data.columns.to_list()

## Identification variables pertinentes

In [4]:
variables_pertinentes = ['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound', 'region_txt', 'provstate',
                         'city', 'nkillus', 'nwoundus', 'region_txt', 'latitude', 'longitude',
                         'attacktype1_txt', 'alternative_txt', 'suicide', 'ransompaid', 'nhostkid', 'hostkidoutcome_txt'
                         , 'ransomnote', 'nhours', 'ndays', 'ransompaidus', 'nhostkidus', 'summary', 'motive', 'gname'
                         , 'natlty1_txt', 'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
                         , 'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt'
                         , 'claimmode_txt', 'propextent_txt', 'propextent', 'propvalue', 'dbsource'
                         ]

In [5]:
#new_data = terror_data[variables_pertinentes]

In [6]:
#new_data.to_csv("data/cleaned/terror.csv", index = False)

In [7]:
new_data = pd.read_csv("data/cleaned/terror.csv")

C:\Users\USER\AppData\Local\Temp\ipykernel_14172\3271448552.py:1: DtypeWarning: Columns (20,29,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data = pd.read_csv("data/cleaned/terror.csv")

In [8]:
new_data.columns

Index(['iyear', 'iday', 'imonth', 'nkill', 'country_txt', 'nwound',
       'region_txt', 'provstate', 'city', 'nkillus', 'nwoundus',
       'region_txt.1', 'latitude', 'longitude', 'attacktype1_txt',
       'alternative_txt', 'suicide', 'ransompaid', 'nhostkid',
       'hostkidoutcome_txt', 'ransomnote', 'nhours', 'ndays', 'ransompaidus',
       'nhostkidus', 'summary', 'motive', 'gname', 'natlty1_txt',
       'kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt',
       'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt',
       'weaptype4_txt', 'weapsubtype4_txt', 'targtype1_txt',
       'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt',
       'targtype3_txt', 'targsubtype3_txt', 'claimmode_txt', 'propextent_txt',
       'propextent', 'propvalue', 'dbsource'],
      dtype='object')

In [9]:
new_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iyear               181691 non-null  int64
 1   iday                181691 non-null  int64
 2   imonth              181691 non-null  int64
 3   nkill               171378 non-null  float64
 4   country_txt         181691 non-null  object
 5   nwound              165380 non-null  float64
 6   region_txt          181691 non-null  object
 7   provstate           181270 non-null  object
 8   city                181257 non-null  object
 9   nkillus             117245 non-null  float64
 10  nwoundus            116989 non-null  float64
 11  region_txt.1        181691 non-null  object
 12  latitude            177135 non-null  float64
 13  longitude           177134 non-null  float64
 14  attacktype1_txt     181691 non-null  object
 15  alternative_txt     29011 non-null   object
 16  suicide             181691 non-null  int64
 17  ransompaid          774 non-null     float64
 18  nhostkid            13572 non-null   float64
 19  hostkidoutcome_txt  10991 non-null   object
 20  ransomnote          514 non-null     object
 21  nhours              4063 non-null    float64
 22  ndays               8124 non-null    float64
 23  ransompaidus        552 non-null     float64
 24  nhostkidus          13517 non-null   float64
 25  summary             115562 non-null  object
 26  motive              50561 non-null   object
 27  gname               181691 non-null  object
 28  natlty1_txt         180132 non-null  object
 29  kidhijcountry       3305 non-null    object
 30  weaptype1_txt       181691 non-null  object
 31  weapsubtype1_txt    160923 non-null  object
 32  weaptype2_txt       13127 non-null   object
 33  weapsubtype2_txt    11542 non-null   object
 34  weaptype3_txt       1863 non-null    object
 35  weapsubtype3_txt    1693 non-null    object
 36  weaptype4_txt       73 non-null      object
 37  weapsubtype4_txt    70 non-null      object
 38  targtype1_txt       181691 non-null  object
 39  targsubtype1_txt    171318 non-null  object
 40  targtype2_txt       11144 non-null   object
 41  targsubtype2_txt    10685 non-null   object
 42  targtype3_txt       1176 non-null    object
 43  targsubtype3_txt    1097 non-null    object
 44  claimmode_txt       19083 non-null   object
 45  propextent_txt      64065 non-null   object
 46  propextent          64065 non-null   float64
 47  propvalue           38989 non-null   float64
 48  dbsource            181691 non-null  object
dtypes: float64(14), int64(4), object(31)
memory usage: 67.9+ MB

## Traitement des valeurs manquantes

In [10]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

weapsubtype4_txt      0.999615
weaptype4_txt         0.999598
ransomnote            0.997171
ransompaidus          0.996962
ransompaid            0.995740
targsubtype3_txt      0.993962
targtype3_txt         0.993527
weapsubtype3_txt      0.990682
weaptype3_txt         0.989746
kidhijcountry         0.981810
nhours                0.977638
ndays                 0.955287
targsubtype2_txt      0.941191
hostkidoutcome_txt    0.939507
targtype2_txt         0.938665
weapsubtype2_txt      0.936475
weaptype2_txt         0.927751
nhostkidus            0.925604
nhostkid              0.925302
claimmode_txt         0.894970
alternative_txt       0.840328
propvalue             0.785410
motive                0.721720
propextent_txt        0.647396
propextent            0.647396
summary               0.363964
nwoundus              0.356110
nkillus               0.354701
weapsubtype1_txt      0.114304
nwound                0.089773
targsubtype1_txt      0.057091
nkill                 0.056761
longitude             0.025081
latitude              0.025076
natlty1_txt           0.008581
city                  0.002389
provstate             0.002317
targtype1_txt         0.000000
iyear                 0.000000
weaptype1_txt         0.000000
gname                 0.000000
iday                  0.000000
suicide               0.000000
attacktype1_txt       0.000000
region_txt.1          0.000000
region_txt            0.000000
country_txt           0.000000
imonth                0.000000
dbsource              0.000000
dtype: float64

_Remplaçons les NAN des variables quantitatives par 0._

_On ne va prendre en compte que les variables renfermant des NAN_

In [11]:
cols=['nkill','nwound','nkillus','nwoundus','latitude','longitude','ransompaid','nhostkid','nhours','ndays','ransompaidus','nhostkidus','propextent','propvalue']
new_data[cols]=new_data[cols].fillna(0)

In [12]:
qual=['country_txt','region_txt','provstate','city','region_txt.1','attacktype1_txt','alternative_txt','hostkidoutcome_txt','ransomnote','summary','motive', 'gname'
                         , 'natlty1_txt','kidhijcountry', 'weaptype1_txt', 'weapsubtype1_txt', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt'
                         , 'weaptype4_txt', 'weapsubtype4_txt','targtype1_txt', 'targsubtype1_txt', 'targtype2_txt', 'targsubtype2_txt', 'targtype3_txt', 'targsubtype3_txt','claimmode_txt', 'propextent_txt','dbsource']

new_data[qual]=new_data[qual].fillna("")

In [13]:
missing_percentages = new_data.isna().sum().sort_values(ascending = False)/len(new_data)
missing_percentages

iyear                 0.0
summary               0.0
gname                 0.0
natlty1_txt           0.0
kidhijcountry         0.0
weaptype1_txt         0.0
weapsubtype1_txt      0.0
weaptype2_txt         0.0
weapsubtype2_txt      0.0
weaptype3_txt         0.0
weapsubtype3_txt      0.0
weaptype4_txt         0.0
weapsubtype4_txt      0.0
targtype1_txt         0.0
targsubtype1_txt      0.0
targtype2_txt         0.0
targsubtype2_txt      0.0
targtype3_txt         0.0
targsubtype3_txt      0.0
claimmode_txt         0.0
propextent_txt        0.0
propextent            0.0
propvalue             0.0
motive                0.0
nhostkidus            0.0
iday                  0.0
ransompaidus          0.0
imonth                0.0
nkill                 0.0
country_txt           0.0
nwound                0.0
region_txt            0.0
provstate             0.0
city                  0.0
nkillus               0.0
nwoundus              0.0
region_txt.1          0.0
latitude              0.0
longitude             0.0
attacktype1_txt       0.0
alternative_txt       0.0
suicide               0.0
ransompaid            0.0
nhostkid              0.0
hostkidoutcome_txt    0.0
ransomnote            0.0
nhours                0.0
ndays                 0.0
dbsource              0.0
dtype: float64

In [14]:
new_data

,iyear,iday,imonth,nkill,country_txt,nwound,region_txt,provstate,city,nkillus,...,targsubtype1_txt,targtype2_txt,targsubtype2_txt,targtype3_txt,targsubtype3_txt,claimmode_txt,propextent_txt,propextent,propvalue,dbsource
0,1970,2,7,1.0,Dominican Republic,0.0,Central America & Caribbean,,Santo Domingo,0.0,...,Named Civilian,,,,,,,0.0,0.0,PGIS
1,1970,0,0,0.0,Mexico,0.0,North America,Federal,Mexico city,0.0,...,"Diplomatic Personnel (outside of embassy, cons...",,,,,,,0.0,0.0,PGIS
2,1970,0,1,1.0,Philippines,0.0,Southeast Asia,Tarlac,Unknown,0.0,...,Radio Journalist/Staff/Facility,,,,,,,0.0,0.0,PGIS
3,1970,0,1,0.0,Greece,0.0,Western Europe,Attica,Athens,0.0,...,Embassy/Consulate,,,,,,,0.0,0.0,PGIS
4,1970,0,1,0.0,Japan,0.0,East Asia,Fukouka,Fukouka,0.0,...,Embassy/Consulate,,,,,,,0.0,0.0,PGIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,31,12,1.0,Somalia,2.0,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,0.0,...,Military Checkpoint,,,,,Unknown,,0.0,0.0,START Primary Collection
181687,2017,31,12,2.0,Syria,7.0,Middle East & North Africa,Lattakia,Jableh,0.0,...,Military Barracks/Base/Headquarters/Checkpost,,,,,,Unknown,4.0,-99.0,START Primary Collection
181688,2017,31,12,0.0,Philippines,0.0,Southeast Asia,Maguindanao,Kubentog,0.0,...,House/Apartment/Residence,,,,,,Unknown,4.0,-99.0,START Primary Collection
181689,2017,31,12,0.0,India,0.0,South Asia,Manipur,Imphal,0.0,...,Government Building/Facility/Office,,,,,,,0.0,0.0,START Primary Collection
181690,2017,31,12,0.0,Philippines,0.0,Southeast Asia,Maguindanao,Cotabato City,0.0,...,,,,,,,,0.0,0.0,START Primary Collection

In [15]:
new_data.to_csv("data/cleaned/terror.csv", index = False)